@{
    ViewBag.Title = "Admin Dashboard";
}




<div>
    <br />
    <h2>Welcome to Admin Dashboard &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Logout", "Index", "Login", null, new { @class = "logout-button" })</h2>
    <br />
    <h3>Manage Managers</h3>
    <p>
        <a href="@Url.Action("AddManager", "Admin")">Add Manager</a>
        <br />
        <a href="@Url.Action("ManagerList", "Admin")">View Managers</a>
 
    </p>




    <h3>Manage Employees</h3>
    <p>
        <a href="@Url.Action("AddEmployee", "Admin")">Add Employee</a>
        <br />
        <a href="@Url.Action("EmployeeList", "Admin")">View Employees</a>
        
    </p>




    <h3>Manage Travel Agents</h3>
    <p>
        <a href="@Url.Action("AddTravelAgent", "Admin")">Add Travel Agent</a>
        <br />
        <a href="@Url.Action("TravelAgentList", "Admin")">View Travel Agents</a>

    </p>
</div>



<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #5e87b8;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    div {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 40px;
        text-align: center;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 15px;
    }

    a {
        display: block;
        padding: 10px;
        background-color: #d5eeff;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        a:hover {
            background-color: #5e87b8;
        }
    .logout-button {
        display: inline-block;
        padding: 8px 16px;
        background-color: #f44336; /* Change to your desired color */
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .logout-button:hover {
            background-color: #d32f2f; /* Change to your desired hover color */
        }
</style>
