@*@model TicketBookingDemo.Models.LoginViewModel
    @using TicketBookingDemo.Helpers

    @{
        ViewBag.Title = "Login";

    }

    <!DOCTYPE html>
    <html>
    <head>
        <title>Login</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <style>
            /* Custom styles */
            body {
                background: linear-gradient(135deg, #4A90E2, #805AD5, #B76CC6, #D08FD0, #E1B0DC, #E1B0DC, #D08FD0, #B76CC6, #805AD5, #4A90E2);
                padding-top: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }

            h2 {
                color: rebeccapurple;
            }

            .login-container {
                max-width: 500px;
                margin: auto;
                background-color: linear-gradient(135deg, #4A90E2, #805AD5, #B76CC6, #D08FD0, #E1B0DC, #E1B0DC, #D08FD0, #B76CC6, #805AD5, #4A90E2);
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .custom-btn {
                width: 100px;
                padding: 10px 20px;
                font-size: 18px;
                background-color: white;
                color: black;
                border: 1px solid #ced4da;
                border-radius: 20px;
                color: #3F51B5;
            }

            .form-control-sm {
                border-radius: 20px;
                font-size: 14px;
                width: 450px;
                height: 40px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="login-container">
                <h2 class="text-center">Login</h2>

                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username)
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <  <div class="form-group">
                        @Html.LabelFor(model => model.UserType)
                        @Html.DropDownListFor(model => model.UserType, TicketBookingDemo.Helpers.DropDownHelper.GetTypes(), "Select User Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-center">
                        <button type="submit" class="custom-btn">Login</button>
                    </div>
                }
            </div>
        </div>
        <div class="text-danger">
            @ViewBag.ErrorMessage
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>*@

@model TicketBookingDemo.Models.LoginViewModel
@using TicketBookingDemo.Helpers

@{ ViewBag.Title = "Login";
    Layout = null; // Use this if you don't want to use a layout page for this view
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Add your custom CSS -->
    <style>
        /* Custom styles */
        body {
            background: linear-gradient(135deg, #4A90E2, #805AD5, #B76CC6, #D08FD0, #E1B0DC, #E1B0DC, #D08FD0, #B76CC6, #805AD5, #4A90E2);
            padding-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h2 {
            color: rebeccapurple; /* Change heading text color */
        }

        .login-container {
            max-width: 500px;
            margin: auto;
            background-color: linear-gradient(135deg, #4A90E2, #805AD5, #B76CC6, #D08FD0, #E1B0DC, #E1B0DC, #D08FD0, #B76CC6, #805AD5, #4A90E2);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .custom-btn {
            width: 100px;
            padding: 10px 20px;
            font-size: 18px;
            background-color: white;
            color: black;
            border: 1px solid #ced4da;
            border-radius: 20px;
            color: #3F51B5;
        }

        .form-control-sm {
            border-radius: 20px;
            font-size: 14px;
            width: 450px; /* Adjust the width of the input boxes */
            height: 40px;
        }
    </style>
    <!-- Add your CSS stylesheets and other meta tags here -->
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h2 class="text-center">Login</h2>

            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken() <!-- Include this line for security -->
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Username)
                    <i class=" bx bxs-user"></i>
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-sm", placeholder = "Enter Username" })

                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    <i class="bx bxs-lock-alt"></i>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-sm", placeholder = "Enter Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserType)
                    @Html.DropDownListFor(model => model.UserType, TicketBookingDemo.Helpers.DropDownHelper.GetTypes(), "Select User Type", new { @class = "form-control form-control-sm" })
                    @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                </div>

                <div class="text-center">
                    <button type="submit" class="custom-btn">Login</button>
                </div>}
        </div>
    </div>

    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add your scripts and other HTML content here -->
</body>
</html>